.Container {
    margin: 0 auto;
    max-width: 850px;
    margin-bottom: 600px;
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Segment {
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px lightblue;
}

code {
    font-style: normal;
    color: #38F
}

a {
    color: #38F,
}